.DS_Store
bolt/backend/media
bolt/backend/Video_Codes
bolt/backend/__pycache__
bolt/backend/.env
node_modules
bolt/backend/serviceAccountKey.json
bolt/backend/Video_Codes
bolt/backend/media
bolt/frontend/node_modules
bolt/frontend/.env
serviceAccountKey.json